body {  

    background-image: url("images/background.jpg");  
    background-position: center;
    background-size: cover;    
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: 1550px 740px; */
}

.stork {
    width: 20%;
    height: 20%;
    position: absolute;
    right: 78%;
    top: 5%;
}

.loading {
    position: absolute;
    right: 45%;
    top: 65%;
    width: 220px;;
    height: 150px;
}

.text {
    background-color: rgb(240, 136, 39);
    text-align: center;
    opacity: 0.9;
    border-radius: 10%;
    position: absolute;
    top: 45%;
    right: 40%;
}

#arrival {
    background-color: yellow;
    opacity: 0.9;
    border-radius: 10%;
}