body {  

    background-image: url("images/background.jpg");  
    background-position: center;
    background-size: cover;    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1550px 740px;
}

.stork {
    width: 20%;
    height: 20%;
    position: absolute;
    right: 55%;
    top: 5%;
}

.loading {
    position: absolute;
    right: 35%;
    top: 30%
}