body {  

    background-image: url("images/background.jpg");  
    background-position: center;
    background-size: auto;    
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: 1550px 740px; */
}

.stork {
    width: 20%;
    height: 20%;
    position: absolute;
    right: 55%;
    top: 5%;
}

.loading {
    position: absolute;
    right: 35%;
    top: 30%;
    width: 220px;;
    height: 150px;
}
 
#arrival {
    position: relative;
    
} 

.text {
    background-color: rgb(240, 136, 39);
    text-align: center;
    /* opacity: 0.5; */
    border-radius: 10%;
}